@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Poppins:wght@300;400;700&display=swap');



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #11121F;
  color: #fff;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --num : 'Graduate', cursive;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}